#gra_mech {
    display: none;
}

#r1 {
    display: none;
}

#r2 {
    display: none;
}

#r3 {
    display: none;
}

#r4 {
    display: none;
}

#r5 {
    display: none;
}

#r6 {
    display: none;
}

#r7 {
    display: none;
}

#r8 {
    display: none;
}

#r9 {
    display: none;
}

#r1 {
    display: none;
}